h3 {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

.container {
  width: 100%;
}

.header {
  margin-top: 30px;
  text-align: center;
}

.header img {
  position: absolute;
  transform: translate(-80px, 5px);
  width: 38px;
  height: 38px;
}

.landing-container {
  margin-top: 100px;

  display: flex;
  flex: 1;

  flex-direction: row;
}

.logo-world {
  display: flex;
  border-right: solid 1px #000;
  justify-content: center;
}

.logo-world img {
  width: 500px;
  height: 500px;
}

.landing-container > div {
  flex: 1;
}
