<div class="container">
<!--  shelter-->
<!--  <a href="register-page">register page</a><br>-->
<!--  <a href="search-page">search page</a>-->
<!--  <app-register-page></app-register-page>-->
  <div class="header">
      <img src="/assets/images/logo.png">
    <h3><strong>Shelter</strong></h3>
    <h3>match</h3>
  </div>

  <div class="landing-container">
    <div class="logo-world">
      <img src="/assets/images/globe.png">
    </div>

    <div>
        <a href="register-page">register page</a><br>
        <a href="search-page">search page</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
