<div class="map-container">
  <div class="mapDiv" #mapDiv></div>

  <div class="containerSpace">
    <br>
    <span class="p-float-label">
            <label for="float-input">name </label>
            <input id="float-input" type="text" pInputText [(ngModel)]="searchByName" placeholder="optional">
            <br>
            <label for="float-input2">Shelter-cap  </label>
            <input id="float-input2" type="text" pInputNumber [(ngModel)]="searchByCap" placeholder="optional">

    </span><br><br>
    <button (click)="onSearch()">Search</button>
  </div>
</div>
